<div class="feedpage">
  <div class="feedsidebar">
    <div class="map"><img class="mapimg" src="{{map}}">
    </div>
  </div>
  <div class="feedpagetop">
    <div class="titlebar"> <h1>A Look Ahead In Los Angeles, CA</h1>
    </div>
    <div class="calcontainer">
      <div class="caldate" *ngFor="let cal of calendarcontent; let i = index" [attr.data-index]="i" [ngStyle]="{'background': weathercolors[i]}">
        <img class="calimages" src={{calendarimages[i]}}>
        <div class="calcontent">
          <p>
            {{calendarcontent[i].Date | date:'EEEE'}}<br/>
            {{calendarcontent[i].Date | date:'MMMM d'}}<br/>
            High: {{calendarcontent[i].High}} <br/>
            Low: {{calendarcontent[i].Low}} <br/>
            Forecast: <br/> {{calendarcontent[i].Forecast}}
        </p>
        </div>
      </div>
    </div>
  </div>
  <div class="feedpagecontent">
    <!-- <div class="feedsidebar">
    </div> -->
    <div class="contentcontainer">
      <div class="feedcardcontainer" *ngFor="let cal of calendarcontent; let i = index">
        <div class="feedcardbox" *ngFor="let card of feedcards[i]; let j = index">
          <div class="feedcardcontent">
            <div class="feedcardbar" [ngStyle]="{'background-color':feedcards[i][j].like === true ? 'rgb(254, 254, 143)' : 'rgb(175, 234, 249)'}">
              <!-- <button class="submit" class="cardbutton" id="carddislikebutton" (click)="carddislike()"></button> -->
              <button class="submit" class="cardbutton" id="cardlikebutton" (click)="cardlike(i,j)"></button>
            </div>
            <p>{{feedcards[i][j].title}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
