<div class="feedpage">
  <div id="feedbar">
    <h1> FEED </h1>
    <h2> Where to go and what to see? </h2>
    <input id="feedinput" [(ngModel)]="feedinput" placeholder=". . .">
    <button type="submit" id="feedsubmit" (click)="feedsubmit()"></button>
    <img id="feedprofilepic" alt="*profilepic*" src={{profpic}}>
  </div>
  <div class="feed">
    <div class="feedcard" *ngFor="let title of testcards; let i = index" [attr.data-index]="i" [hidden]="testcards[i].removed">
        <button type="submit" class="feedcardbutton" id="removebutton" (click)="removecard(i)"><p>remove</p></button>
        <button type="submit" class="feedcardbutton" id="savebutton" (click)="savecard(i)"><p [hidden]="testcards[i].saved">save</p><p [hidden]="!testcards[i].saved">unsave</p></button>
        <div id="feedcardtitle"><h3 style="display: inline"> {{testcards[i].title}}</h3></div>
        <div id="feedcarddatesave"><p style="display: inline"> {{testcards[i].date | date}} <span [hidden]="!testcards[i].saved"> - SAVED - </span></div>
        <br/><div id="feedcardpic" alt="*feedpicture*"></div>
        <p> {{testcards[i].content}} </p>
      <br/>
    </div>
  </div>
  <div class="sidebar">
      <h4>WEATHER</h4>
      <div id="currentweather"></div>
      <h4 style="display:inline-block;"> CALENDAR </h4>
      <button type="submit" id="todaysdate" (click)="todaysdate()"> TODAY </button>
      <div class="calendar">
        <div class= "days">
          <p>{{firstdate | date : "MMMM"}} {{year}}<p>
            <button type="submit" class="monthtoggle" id="monthtoggleprev" (click)="prevmonth()"> < </button>
            <button type="submit" class="monthtoggle" id="monthtogglenext" (click)="nextmonth()"> > </button>
          <ul>
            <li *ngFor="let day of dayslist; let i = index" [attr.data-index]="i">{{day}}</li>
          </ul>
              <button type="submit" id="calendardates" *ngFor="let date of dates; let i = index" [attr.data-index]="i" (click)="dateclick(i)">
                <ul>
                  <li [class.activedate]="activedate[i]" [class.plandate]="plans[i]"> {{date}} </li>
                </ul>
            </button>
        </div>
      </div>
      <h4 style="display:inline-block;">SAVED EVENTS</h4>
      <button type="submit" id="todaysdate" (click)="refreshcalendar()"> Show All </button>
      <div id="upcomingevents">
        <p *ngFor="let plan of upcomingplans; let i = index" [attr.data-index]="i"> {{upcomingplans[i].date | date}} : {{upcomingplans[i].title}} </p>
      </div>
    <br/>
  </div>
</div>
