<!-- This is not the actual html file, but a component. Actual HTML is index.html -->
<div class="homepage">
  <div id="centertext">
    <h1> GoPug </h1>
    <p> Sign Up </p>
  </div>
  <div class="homepagecontainer">
    <div id="homecardcontainer">
      <div id="homecards" *ngFor="let card of homecards; let i = index" [attr.data-index]="i"> <img id="homepics" *ngIf="i==0||i==2||i==4||i==6||i==8" src="{{card}}" alt="pic">
        <p>{{card}}</p>
      </div>
    </div>
  </div>
</div>
<!--
*ngFor="for pics of homepictures"><img src="pics"> -->
