<nav id="navshow" (mouseenter)="navtoggle()" (mouseleave)="navtoggle()">
  <div [hidden]="!shownav">
    <button type="button" class="navbutton" routerLink="../home"><p>Home</p></button><br/>
    <button type="button" class="navbutton" (click)="signuptoggle()"><p>Sign Up</p></button><br/>
    <button type="button" class="navbutton" (click)="signintoggle()"><p>Sign In</p></button><br/>
    <button type="button" class="navbutton" routerLink="../profile"><p>MyProfile</p></button><br/>
    <button type="button" class="navbutton" routerLink="../feed"><p>Feed</p></button><br/>
  </div>
</nav>

<div class="signinup" [hidden]="!showsignup">
<button type="submit" id="closesigninup" (click)="signuptoggle()">x</button>
<h1> Sign Up! </h1><br/>
  <form>
    <p>Username</p>
    <input type="text" #user id="signupininput">
    <p>First Name</p>
    <input type="text" #first id="signupininput">
    <p>Password</p>
    <input type="text" #pass id="signupininput">
    <br/>
    <button type="submit" id="signupinsubmit" (click)="getinfo(first.value, user.value, pass.value)"(click)="postsignup()"> Submit </button>
  </form>
</div>

<div class="signinup" [hidden]="!showsignin">
<button type="submit" id="closesigninup" (click)="signintoggle()">x</button>
<h1>Sign In!</h1><br/>
  <form>
    <p>Username</p>
    <input type="text" #user id="signupininput">
    <p>Password</p>
    <input type="text" #pass id="signupininput">
    <br/>
    <button type="submit" id="signupinsubmit" (click)="getinfo(first.value, last.value, user.value, loc.value, pass.value)"(click)="postsignup()"> Submit </button>
  </form>
</div>
