<h1>Welcome, {{Username}}</h1>
<div class="profileinformation">
  <div id="profiledetails">
    <h2 style="text-align: center;">Personal Details</h2><br/>
    <h3>UserName</h3>
      <p>{{Username}}</p><br/>
    <h3>EmailAddress</h3>
      <p>{{Email}}</p><br/>
    <h3>Password</h3>
      <p>{{Password}}</p><br/>
    <h3>ZipCode</h3>
      <p>{{Zipcode}}</p><br/>
  </div>
  <div id="profiledetails">
    <h2 style="text-align: center;">Preferences</h2><br/>
    <div id="preferences">
      <h3>Weather</h3>
        <input type="checkbox" name="test" value="test"> Test <br/>
        <input type="checkbox" name="test" value="test"> Test <br/>
        <input type="checkbox" name="test" value="test"> Test <br/>
        <input type="checkbox" name="test" value="test"> Test <br/>
        <input type="checkbox" name="test" value="test"> Test <br/>
      <h3>Activities</h3>
        <input type="checkbox" name="test" value="test"> Test <br/>
        <input type="checkbox" name="test" value="test"> Test <br/>
        <input type="checkbox" name="test" value="test"> Test <br/>
        <input type="checkbox" name="test" value="test"> Test <br/>
        <input type="checkbox" name="test" value="test"> Test <br/>
    </div>
    <div id="preferences">
      <h3>Weather</h3>
        <input type="checkbox" name="test" value="test"> Test <br/>
        <input type="checkbox" name="test" value="test"> Test <br/>
        <input type="checkbox" name="test" value="test"> Test <br/>
        <input type="checkbox" name="test" value="test"> Test <br/>
        <input type="checkbox" name="test" value="test"> Test <br/>
      <h3>Activities</h3>
        <input type="checkbox" name="test" value="test"> Test <br/>
        <input type="checkbox" name="test" value="test"> Test <br/>
        <input type="checkbox" name="test" value="test"> Test <br/>
        <input type="checkbox" name="test" value="test"> Test <br/>
        <input type="checkbox" name="test" value="test"> Test <br/>
    </div>
  </div>
</div>
