
/*~~~~~~~~~~PROFILECOMPONENT~~~~~~~~~~~*/
.profile {
  padding-bottom: 40px;
}

.profile h1 {
  font-size: 50px;
  text-align: center;
}

#profilebar {
  padding-bottom: 30px;
  background: linear-gradient(180deg, rgb(162, 198, 239), rgb(206, 220, 234));
  background-position: 0% 60%;
  background-repeat: no-repeat;
  border-bottom: 3px solid black;
}

#profilepic {
  background-image: url("https://avatars2.githubusercontent.com/u/18385437?v=4&s=460");
  width: 150px;
  height: 150px;
  background-size: contain;
  border-radius: 100px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#personaldetails {
  display: inline-block;
  width: 35%;
  margin-top: 50px;
  margin-left: 10%;
  height: auto;
  background-color: rgba(255,255,255,0.4);
  border-radius: 10px;
  padding: 0px 10px;
  vertical-align: top;
  /*the top part prevents the divs from shifting when you put in text*/
}

#userinfo {
  background-color: rgba(0,0,0,0);
  border: 1px solid rgba(0,0,0,.3);
  outline: none;
  cursor: pointer;
  font-family: 'Bubbler One', sans-serif;
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 5px;
  padding: 2px 4px;
}

#userinfo:hover {
  background-color: rgba(255,255,255,0.3);
  outline: none;
  cursor: pointer;
}

#userinfo:focus {
  background-color: rgba(255,255,255,0.7);
  outline: none;
  cursor: pointer;
}

#profsubmit {
  margin: auto;
  outline: none;
  font-size: 15px;
  margin-top: 10px;
  background-color: rgb(137, 240, 171);
  border-radius: 2px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#profsubmit:hover{
  background-color: rgba(222, 224, 230, 0.7);
  outline: none;
  cursor: pointer;
}

#profsubmit:active{
  background-color: rgba(222, 224, 230, 1)
}

#preferences {
  display: inline-block;
  width: 45%;
}
