
<h1> Sign In! </h1><br/>
<div class="UserInput">
  <form>
    <p style="margin-top:10px;">First Name</p>
    <input type="text" #first class="forminputs" id="signupinfo">
    <p style="margin-top:10px;">Last Name</p>
    <input type="text" #last class="forminputs" id="signupinfo">
    <p style="margin-top:10px;">Username</p>
    <input type="text" #user class="forminputs" id="signupinfo">
    <p style="margin-top:10px;">Location</p>
    <input type="text" #loc class="forminputs" id="signupinfo">
    <!-- <p style="margin-top:10px;">Email Address</p>
    <input type="text" #email class="forminputs" id="signupinfo"> -->
    <p style="margin-top:10px;">Password</p>
    <input type="text" #pass class="forminputs" id="signupinfo">
    <br/>
    <button type="submit" class="submit" style="margin-top:10px;" (click)="getinfo(first.value, last.value, user.value, loc.value, pass.value)"(click)="doPOST()"> Submit </button>
  </form>
</div>
