* {
  box-sizing: border-box;
  border: 0px solid black;
  margin: 0;
  padding: 0;
  font-family: 'Slabo 27px', serif;
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 100px;
  font-family: 'Arima Madurai', cursive;
  font-weight: 400;
  color: white ;
  background-color: rgba(48, 118, 85, 0.5);
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

p {
  font-family: 'Bubbler One', sans-serif;
}

li {
  font-size: 15px;
}

#navbar {
  height: 50px;
  position: fixed;
  top: 0px;
  length: 100%;
  z-index: 2;
  width: 100%;
}

#navbar p {
  color: rgb(48, 118, 85);
  padding: 0;
  text-align: left;
  font-size: 15px;
  width: auto;
}

#navbar p:hover {
  font-size: 17px;
}

#navbar p:focus, #navbar p:active {
  color: blue;
}

#testbutton {
  width: 100px;
  height: 100px;
  border-radius: 80px;
  margin-top: -50px;
  margin-left: -50px;
  background-color: rgb(172, 235, 254);
}

#testbutton:hover {
  height: 400px;
  width: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 400px;
}

#buttons, #buttons:hover {
  position: fixed;
  left: 10px;
  top: 10px;
  box-sizing: border-box
}

.navbutton, .navbutton:active, .navbutton:visited, .navbutton:focus {
  background-color: rgba(255, 255, 255, 0);
  width: auto;
  text-align: center;
  outline: 0;
  margin-left: 10px;
  margin-bottom: 10px;
}

.UserInput {
  text-align: center;
  font-size: 25px;
}

.forminputs {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.forminputs:hover {
  background-color: rgba(222, 224, 230, 0.9);
}

.forminputs:focus {
  background-color: rgba(222, 224, 230, 0.9);
  outline: none;
}

#planinput {
  background-image: url('https://image.flaticon.com/icons/png/512/10/10536.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 500px;
  height: 50px;
  margin: auto;
  font-size:20px;
  padding-left: 60px;
  border-radius: 5px;
  display: inline-block;
}

.submit {
  margin: auto;
  outline: none;
  padding: 10px 10px 10px 10px;
  font-size: 20px;
  background-color: rgb(137, 240, 171);
  border-radius: 2px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.submit:hover{
  background-color: rgba(222, 224, 230, 0.7);
  outline: none;
  cursor: pointer;
}

.submit:active{
  background-color: rgba(222, 224, 230, 1)
}

.confirmation {
  font-size: 15px;
}

#signupinfo {
  width: 500px;
  height: 50px;
  margin: auto;
  font-size:20px;
  padding-left: 20px;
  border-radius: 5px;
  display: inline-block;
}

.profileinformation {
  display: inline-block;
  width:100%;
  height:auto;
}

#profiledetails {
  display: inline-block;
  width: 35%;
  margin-top: 50px;
  margin-left: 10%;
  height: auto;
  background-color: rgba(255,255,255,0.7);
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
  vertical-align: top;
  /*the top part prevents the divs from shifting when you put in text*/
}

#preferences {
  display: inline-block;
  width: 45%;
}

#userinfo {
  background-color: rgba(0,0,0,0);
  outline: none;
  cursor: pointer;
  font-family: 'Bubbler One', sans-serif;
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 5px;
  padding: 2px 4px 2px 4px;
}

#userinfo:hover {
  background-color: rgba(255,255,255,0.3);
  outline: none;
  cursor: pointer;
}

#userinfo:focus {
  background-color: rgba(255,255,255,0.7);
  outline: none;
  cursor: pointer;
}

.feedpage {
  width: 100%;
  vertical-align: top;
  /*the top part prevents the divs from shifting when you put in text*/
}

.feed {
  border: 0px solid black;
  width: 70%;
  margin-top: 40px;
  display: inline-block;
  background-color: rgba(255,255,255,0.9);
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 20px;
}

.feedcard {
  border: 0px solid black;
  margin-bottom: 20px;
  width: 90%;
  display: inline-block;
  border-radius: 10px;
}

.sidebar {
  border: 0px solid black;
  margin: 40px 5px 0px 40px;
  width: 25%;
  display: inline-block;
  vertical-align: top;
  background-color: rgba(255,255,255,0.7);
  border-radius: 10px;
}
