/*~~~~~~~~~~~~~~~~~~GLOBAL~~~~~~~~~~~~~~~~~~~~*/

* {
  box-sizing: border-box;
  border: 0px solid black;
  margin: 0;
  padding: 0;
  font-family: 'Slabo 27px', serif;
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
}

body {
  height: 100vh;
  /*100vh is 100% of view height*/
  background-repeat: no-repeat;
}

/*~~~~~~~~~~~~~~~~~~~HOMECOMPONENT~~~~~~~~~~~~~~~~~~~~~~~~*/

.homepage h1 {
  font-family: 'Arima Madurai', cursive;
  font-weight: 400;
  color: black;
  text-align: center;
  font-size: 100px;
  padding-top: 100px;
}

.homepage h2 {
  font-family: 'Arima Madurai', cursive;
  font-weight: 400;
  color: black;
  text-align: center;
  font-size: 50px;
  padding-top: 60px;
  padding-bottom: 20px;
  color: white;
  background-color: rgba(0,0,0,.4);
}

.homepage h3 {
  font-family: 'Arima Madurai', cursive;
  font-weight: 400;
  color: black;
  font-size: 25px;
  padding-left: 30px;
}

.homepage p, ul, li, ol {
  padding-left: 50px;
  font-size: 20px;
  list-style-type: none;
}

.homepagetext {
  background-color: rgba(255,255,255,.6);
  padding-top: 20px;
  padding-bottom: 20px;
}

#homepageimages {
  height: 100vh;
  background-position: 60% 10%;
}

#homeuserinputbox {
  text-align: center;
  font-size: 25px;
}

.homeforminputs {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#homepageinput {
  background-image: url('https://image.flaticon.com/icons/png/512/10/10536.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 500px;
  height: 50px;
  margin: auto;
  font-size:20px;
  padding-left: 60px;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid rgba(0,0,0,.3);
}

#homepageinput:hover {
  background-color: rgba(222, 224, 230, 0.9);
}

#homepageinput:focus {
  background-color: rgba(222, 224, 230, 0.9);
  outline: none;
}

#homesubmit {
  margin: auto;
  outline: none;
  padding: 10px 10px 10px 10px;
  font-size: 20px;
  background-color: rgb(137, 240, 171);
  border-radius: 2px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#homesubmit:hover{
  background-color: rgba(222, 224, 230, 0.7);
  outline: none;
  cursor: pointer;
}

#homesubmit:active{
  background-color: rgba(222, 224, 230, 1)
}

/*~~~~~~~~~~~~~~~~NAVBARCOMPONENT~~~~~~~~~~~~~~~~*/

#navshow {
  position: fixed;
  width: 60px;
  height: 60px;
  background-position: -5px 0px;
  border-radius: 0px 0px 60px 0px;
  background-image: url("https://favim.com/media/uploads/images/mini/140325/cute-smiley-face-transparent-Favim.com-1543790.jpg");
  opacity: 0.3;
  background-size: contain;
}

#navshow:hover {
  height: 180px;
  width: 180px;
  background-color: rgba(255, 255, 255, .3);
  opacity: 1;
  border-radius: 0px 0px 180px 0px;
  background-image: none;
}

#navshow p {
  color: black;
  text-align: left;
  font-size: 15px;
  width: auto;
}

#navshow p:hover {
  font-size: 17px;
}

#navshow p:focus, #navshow p:active {
  color: blue;
}

.navbutton, .navbutton:active, .navbutton:visited, .navbutton:focus {
  background-color: rgba(255, 255, 255, 0);
  width: auto;
  text-align: center;
  outline: 0;
  margin: 10px 0px 0px 10px;
}

.signinup {
  position: fixed;
  padding: 0px 50px 10px 40px;
  background-color: rgba(255,255,255,.9);
  border-radius: 0px 0px 20px 0px;
}

.signinup h1 {
  font-size: 20px;
}

.signinup p {
  font-size: 15px;
}

#closesigninup {
  display: inline-block;
  width: 20px;
  height: 20px;
  outline: none;
  cursor: pointer;
  margin-left: -40px;
  background-color: rgba(0,0,0,.1);
  border-radius: 10px;
}

#signupininput {
  width: 150px;
  height: 20px;
  font-size: 12px;
  padding-left: 10px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 10px;
  border: 1px solid rgba(0,0,0,.3);
}

#signupininput:hover {
  background-color: rgba(222, 224, 230, 0.7);
}

#signupininput:focus {
  background-color: rgba(222, 224, 230, 0.7);
  outline: none;
}

#signupinsubmit {
  margin: auto;
  outline: none;
  padding: 5px 5px 5px 5px;
  font-size: 15px;
  margin-top: 10px;
  background-color: rgb(137, 240, 171);
  border-radius: 2px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#signupinsubmit:hover{
  background-color: rgba(222, 224, 230, 0.7);
  outline: none;
  cursor: pointer;
}

#signupinsubmit:active{
  background-color: rgba(222, 224, 230, 1)
}

/*~~~~~~~~~~PROFILECOMPONENT~~~~~~~~~~~*/
.profile {
  padding-bottom: 40px;
}

.profile h1 {
  font-size: 50px;
  text-align: center;
}

#profilebar {
  padding-bottom: 30px;
  background: linear-gradient(180deg, rgb(162, 198, 239), rgb(206, 220, 234));
  background-position: 0% 60%;
  background-repeat: no-repeat;
  border-bottom: 3px solid black;
}

#profilepic {
  background-image: url("https://avatars2.githubusercontent.com/u/18385437?v=4&s=460");
  width: 150px;
  height: 150px;
  background-size: contain;
  border-radius: 100px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#personaldetails {
  display: inline-block;
  width: 35%;
  margin-top: 50px;
  margin-left: 10%;
  height: auto;
  background-color: rgba(255,255,255,0.4);
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
  vertical-align: top;
  /*the top part prevents the divs from shifting when you put in text*/
}

#userinfo {
  background-color: rgba(0,0,0,0);
  border: 1px solid rgba(0,0,0,.3);
  outline: none;
  cursor: pointer;
  font-family: 'Bubbler One', sans-serif;
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 5px;
  padding: 2px 4px 2px 4px;
}

#userinfo:hover {
  background-color: rgba(255,255,255,0.3);
  outline: none;
  cursor: pointer;
}

#userinfo:focus {
  background-color: rgba(255,255,255,0.7);
  outline: none;
  cursor: pointer;
}

#profsubmit {
  margin: auto;
  outline: none;
  font-size: 15px;
  margin-top: 10px;
  background-color: rgb(137, 240, 171);
  border-radius: 2px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#profsubmit:hover{
  background-color: rgba(222, 224, 230, 0.7);
  outline: none;
  cursor: pointer;
}

#profsubmit:active{
  background-color: rgba(222, 224, 230, 1)
}

#preferences {
  display: inline-block;
  width: 45%;
}

/*~~~~~~~~~~~FEEDCOMPONENT~~~~~~~~~~~*/


.feedpage {
  width: 100%;
  vertical-align: top;
  /*the top part prevents the divs from shifting when you put in text*/
}

.feed {
  border: 0px solid black;
  width: 70%;
  margin-top: 40px;
  display: inline-block;
  background-color: rgba(255,255,255,0.9);
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 20px;
}

.feedcard {
  border: 0px solid black;
  margin-bottom: 20px;
  width: 90%;
  display: inline-block;
  border-radius: 10px;
}

.sidebar {
  border: 0px solid black;
  margin: 40px 5px 0px 40px;
  width: 25%;
  display: inline-block;
  vertical-align: top;
  background-color: rgba(255,255,255,0.7);
  border-radius: 10px;
}
