<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>View</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <style>
  * {margin:0;}
  #background {
    background-color: rgb(213, 219, 223);
        /*background-image: url("http://az616578.vo.msecnd.net/files/2015/06/08/635693880042525992-518822648_couple-hiking-valley.jpg");
        min-height: 1000px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;*/
        }
  </style>
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px|Arima+Madurai|Bubbler+One" rel="stylesheet">
</head>
<body id=background>
  <navbar></navbar>
  <br/>
  <app-root> Loading! Please wait :D </app-root>
</body>
</html>
